body {
  background-color: #121212;
  text-align: center;
}

#clock {
  font-family: 'Orbitron', sans-serif;
  color: #66ff99;
  font-size: 56px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

h {
  font-size: 5.625rem;
  margin: 50, auto, 0, auto;
  font-family: 'Sacramento', cursive;
  color: #66bfbf;
}
